.img-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#corn-kernel {
  background-image: url('/images/bg-corn.png');
  background-repeat: no-repeat;
  height: 500px;
  min-width: 400px;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

#popped-kernel {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 44%;
  top: 37%;
  display: none;
}
